.anime_item {
  width: 175px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  color: gainsboro;
  animation: slide-in 1s ease-out;
}

@keyframes slide-in{
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* @keyframes slide-in {
  from {
    margin-left: 50%;
  }

  to {
    margin-left: 0%;
  }
} */

.anime_item:hover {
  cursor: pointer;
  color: skyblue;
  text-decoration: underline;
}

.image {
  height: 200px;
  width: 150px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  border-radius: 5px;
}