.container {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  background-color: azure;
  border: 10px solid paleturquoise;
  border-radius: 5px;
}

.title {
  text-align: center;
  color: rgb(141, 44, 44);
}

.info {
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
}

.description {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.image {
  width: 40%;
  height: 60%;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}