.container {
  display: flex;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgb(88, 87, 87, 0.5);
}

.title {
  text-align: center;
}

.info {
  padding: 10px;
  margin: 10px;
}

.description {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.data {
  margin-top: 10px;
}

.episodeList {
  margin: 10px;
  padding: 10px;
  border: 1px solid rgb(88, 87, 87, 0.5);
}

.image {
  width: 40%;
  height: 60%;
}