body {
  background-color: rgb(43, 42, 42, 0.5);
}

li:not(:last-child) {
  margin-bottom: 5px;
}

ul {
  display: flex;
  flex-direction: column;
}

li {
  display: inline-block;
  margin-right: 35px;
  text-align: center;
}

li:hover {
  cursor: pointer;
  color: rgb(57, 57, 236);
}