body {
  background-color: rgb(43, 42, 42, 0.5);
}

li:not(:last-child) {
  margin-bottom: 5px;
}

li {
  margin-right: 35px;
  list-style-type: none;
  text-align: center;
}

li:hover {
  cursor: pointer;
  color: rgb(57, 57, 236);
}