.container {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 5em;
}

.image {
  height: 175px;
  width: 175px;
  margin-left: 20px;
  margin-top: 10px;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: cadetblue;
  border: 20px solid paleturquoise;
}

.title:hover, .image:hover {
  cursor: pointer;
}

.title {
  background: #B7DEED;
  background: -webkit-linear-gradient(to right, #B7DEED 0%, #71CEEF 25%, #21B4E2 75%, #B7DEED 100%);
  background: -moz-linear-gradient(to right, #B7DEED 0%, #71CEEF 25%, #21B4E2 75%, #B7DEED 100%);
  background: linear-gradient(to right, #B7DEED 0%, #71CEEF 25%, #21B4E2 75%, #B7DEED 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}