.body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-left: 5px;
  width: 25%;
  border-radius: 5px;
  background-color: cadetblue;
  text-align: center;
}

.header {
  color: #111111;
}

.list li {
  font-weight: bold;
  color: gainsboro;
  list-style-type: none;
  width: 100%;
  margin-right: 30px;
}

.list li:hover {
  cursor: pointer;
  color: skyblue;
  text-decoration: underline;
}