.body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-left: 5px;
  width: 25%;
  border-radius: 5px;
  background-color: cadetblue;
  text-align: center;
}

.header {
  color: darkslategray;
}