.search {
  width: 50%;
  height: 20px;
  margin: 10px;
  margin-left: 12em;
  border: 0;
  border-radius: 3px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.search_bar {
  margin-top: 10px;
}